<div class="container">
  <div class="jumbotron">
<h1>Recipe Box</h1>
</div>
<h2>List of recipies:</h2>
<div *ngFor="let recipe of recipies">
  <div (click)='showRecipe()'><h3 >{{recipe.title}}</h3>
</div>
<div id=info *ngIf="display">
  <img [src]="recipe.image" alt="eggs">
<p>Ingredients:</p>
<ul *ngFor="let ingredient of recipe.ingredients">
  <li>
    {{ingredient}}
  </li>
</ul>
  <p>Directions to cook:</p>
  <p>{{recipe.direction}}</p>

   <button (click)="editRecipe(recipe)" class="btn btn-danger">Edit</button>
</div>
<form *ngIf="selectedRecipe" class="hideInput">
  <div>
    <input [(ngModel)]="selectedRecipe.title" type="text" name="title">
  </div>
  <div>
      <input [(ngModel)]="selectedRecipe.ingredients" type="text" name="ingredients">
    </div>
    <div>
        <input [(ngModel)]="selectedRecipe.direction" type="text" name="direction">
      </div>
      <button (click)="finishedEditing()" >Done</button>
</form>

</div>